.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  padding: 0 30px;

  .header__left {
    .header__logo-container {
      text-decoration: none;
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 11px;
      height: 80px;
    }

    .header__logo {
      width: 70px;
    }
  }
}
